/*

	CSS for mealprep.php
	
*/

body {
	
}


#pageWrapper {
	
}

header {
	width: 1200px;
	margin: 0 auto;
}

content {
	width: 1200px;
	margin: 0 auto;
	
}

#calender {
	width: 1200px;
	margin: 0 auto;
}

.dayField {
	float: left;
	width: 200px;
	margin: 10px auto;
}

#submitButton {
	position: relative;
	margin-top: 167px;
	right: 55px;
}

#searchForm {
	clear: both;
	width: 1200px;
	margin: 0 auto;
}

.draggable {
	list-style: none;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #33afff;
	width: 150px;
	font-size: 1.5em;
}
